@{
    ViewBag.Title = "Baptismo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "О крещении";
    ViewBag.PageId = "page1";
    ViewBag.ActiveClass = "nav1";
}
<!-- content -->
	<div class="body5">
		<div class="body6">
			<div class="main">
				<div class="wrapper">
					<figure class="left"><img src="~/images/temple.png" alt=""></figure>
				    <h2>Таинство <span>Крещения</span>!</h2>
					Краткое описание таинства, порядок принятия и современные традиции.</div>
			</div>
		</div>
	</div>
	<div class="body7">
		<div class="main">
			<section id="content">
				
				<div class="wrapper">
					<article class="col2">
						<div class="pad1">
							<h2>О таинстве</h2>
						    <p>Крещение есть Таинство, в котором верующий при троекратном погружении тела в воду, с призыванием Бога Отца и Сына и Святого Духа, умирает для жизни плотской, греховной и возрождается от Духа Святого в жизнь духовную, святую. Согласно словам Иисуса Христа, крещение — необходимое условие для рождения свыше, чтобы войти в Царствие Божие (Ин.3:3-5).</p>
						    <p>Если кто не родится от воды и Духа, сказал Господь, не может войти в царствие Божие (Иоан. III, 5). Крещение водой начал Предтеча Христов Иоанн Иоанн крестил крещением покаяния, говоря людям, чтобы веровали в грядущего по нем, т. е. во Христа Иисуса (Деян. XIX, 4). Потом Иисус Христос примером Своим освятил крещение, приняв оное от Иоанна. Наконец по воскресении Своем Он дал апостолам торжественное повеление: Идите, научите все народы, крестя их во имя Отца, и Сына, и Святого Духа. От того кто желает принять крещение, требуется покаяние и вера, почему и читается перед крещением Символ веры. Покайтеся и да крестится каждый из вас во имя Иисуса Христа для прощения грехов, и получите дар Святого Духа (Деян. II, 38). Кто будет воровать и крестится, спасен будет (Марк. XVI, 16).</p>
						    <p>При крещении совершаются следующие обряды: 1) Пред самым крещением произносится троекратное отрицание от диавола, который силою и именем Иисуса Христа отгоняется от крещаемого. 2) Вода для крещения освящается частью молитвами и призыванием Св. Духа, а частью крестным знамением, которое троекратно в оной изображается освященным елеем. 3) Крещаемый погружается в воде троекратно во имя трех Лиц Св. Троицы. 4) На него надевается белая одежда, чем означается чистота души и непорочность христанской жизни. 5) На него возлагается крест для всегдашнего напоминания заповеди Христовой: если кто хочет идти за Мною, отвергнись себя и возьми крест свой и следуй за мною (Мф. XVI, 24). 6) Крещаемый и восприемники с возжженными свечами троекратно обходят купель, чем означается победоносное шествие, духовная радость и духовное просвещение. 7) Крещаемому постригаются власы, что, как видно из молитвы читаемой при сем действии, совершается по слову апостола Павла, заповедавшего нам вся во славу Божию творити. О тех, которые грешат после крещения должно думать, что они виновнее в грехах своих, нежели некрещенные в своих, потому что те имели от Бога особенную помощь к добру, и отвергли ее. Если, избегши скверн мира чрез познание Господа и Спасителя нашего Иисуса Христа, говорит св. ап. Петр, опять запутываются в них, и побеждаются ими; то последнее бывает для таковых хуже первого (II Петр. II, 20). Но и для с Таким образом, при совершении таинства крещения используется несколько обрядов, каждый из которых имеет символическое духовное значение: обращение крещаемого к западу (символу тьмы) для отречения от сатаны, который есть духовная тьма; помазание елеем младенца перед погружением в воду (купель) для непобедимости в борьбе с сатаной; погружение в воду, при котором Дух Святой тайно сходит на крещаемого, дарует семя Жизни (притча о Сеятеле) и очищает от грехов; возложение креста на грудь означает, что крестившийся желает постоянно помнить о кресте — символе спасения, и терпеливо (и с радостью) нести его всю свою жизнь: одевание в белую одежду указывает, что крещаемый очистился от грехов и должен вести чистую жизнь. Кроме того, белый цвет — проявление радости от обручения со Христом (Святые отцы учат, что душа каждого человека призвана стать невестой Бога);  хождение вокруг купели — символ вечности; пострижение волос — предание новокрещённого воле Божией.</p>
						    <p>Таинство Крещение совершается над человеком раз в жизни, оно вводит его в лоно христианской Церкви и открывает ему двери в новую жизнь, в которой действуют не мирские законы, а божественные. Выбор веры, принятие Православия — серьезное и ответственное решение.</p>
						    Список используемой литературы
						        <ul>
                                    <li>Библия</li>
						            <li>Библейская энциклопедия, 2005</li>
                                </ul>
                            
                            
						</div>	
						
					</article>
					<article class="col1 pad_left1">
					@Html.Partial("Hotlinks");
					</article>
				</div>
				
			</section>
		</div>
	</div>
<!-- / content -->

