@{
    ViewBag.Title = "Burial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Отпевание";
    ViewBag.PageId = "page1";
    ViewBag.ActiveClass = "nav1";
}
<!-- content -->
	<div class="body5">
		<div class="body6">
			<div class="main">
				<div class="wrapper">
					<figure class="left"><img src="~/images/temple.png" alt=""></figure>
				    <h2>Обряд <span>отпевания</span>!</h2>
					Бог... не есть Бог мёртвых, но живых, ибо у Него все живы. Евангелие от Луки, 20:38</div>
			</div>
		</div>
	</div>
	<div class="body7">
		<div class="main">
			<section id="content">
				
				<div class="wrapper">
					<article class="col2">
						<div class="pad1">
							<h2>Об обряде</h2>
						    
						    <p><span>Что называется отпеванием?</span><br />Отпеванием называется молитвенное чинопоследование, учрежденное Церковью для напутствия и проводов людей в другой мир. Отпевание – это народное название, которое было дано этому чинопоследованию потому, что более половины молитв в нем поется. Правильное название отпевания – «последование мертвенное». Проведение этого чинопоследования свидетельствует о том, что умерший принадлежал православной общине, и теперь люди собрались для того, чтобы проводить его в последний земной путь. Если умерший был членом Православной Церкви, если он занимался своей духовной жизнью, если он исповедовался и причащался (хотя бы иногда), если он, хотя бы минимально, участвовал в жизни общины – Церковь может его напутствовать.</p>
						    <p><span>Что надо делать во время отпевания?</span><br />Любить! Молитва за умершего должна исходить не только из уст, но и из сердца любящего человека. Он также должен доказывать свою любовь не только словом, но и делом. Любовь определяется степенью жертвенности человека. Как доказать свою любовь? Потрудись для души того, кто сам уже не может для нее потрудиться. Любой человек может почитать Псалтирь о новопреставленном. Читать надо по кафизме в день, и не просто механически читать, а стараться понимать то, о чем читаешь – это первое. Второе –– это Акафист по единоумершему, который имеет уникальное содержание. Его тоже следует читать после того как прочитали Псалтирь, в течение сорока дней. А в некоторых случаях, если есть такая возможность, можно читать Псалтирь и Акафист вместе. Например, утром Псалтирь, а вечером Акафист. И, конечно, читать эти дивные молитвы нужно не лежа на диване, а серьезно, с пониманием того, перед Кем ты их читаешь. И, конечно, по возможности необходимо творить милостыню, дела милосердия за усопшего. Именно это, а не выворачивающие душу демонстративные и не демонстративные проявления скорби, является настоящим показателем любви к умершему.</p>
						    <p><span>Как проходит отпевание?</span><br />У православных принято хоронить в гробу, который до конца отпевания остается открытым (если для этого нет особых препятствий). Отпевание и погребение принято совершать на третий день. Первым днем считается сам день кончины. То есть, если человек преставился во вторник до полуночи, то хоронить его принято в четверг, а если в субботу, то в понедельник.Тело усопшего в гробу покрывают особым белым покровом (саваном) — в знак того, что усопший, принадлежавший к Православной Церкви и соединившийся с Христом в ее святых Таинствах, находится под покровом Христовым, под покровительством Церкви — она до скончания века будет молиться о его душе. Покров этот украшен надписями с текстами молитв и выдержками из Священного Писания, изображением крестного знамени и ангелов. Близкие просят прощения за невольные обиды, прикладываются к иконе на груди усопшего и к венчику на лбу. В том случае, когда отпевание происходит при закрытом гробе, целуют крест на крышке гроба.В конце отпевания, по прочтении Апостола и Евангелия, священник читает разрешительную молитву. После чтения разрешительной молитвы происходит прощание с покойным. Родные и близкие усопшего с поклоном обходят гроб с телом.</p>
						    <p><span>Что означает венчик на голове покойного?</span><br />Бумажный венчик – это символ венца, символическое обозначение того, что усопший ушел в Вечную жизнь как воин, одержавший победу на поле брани. Венчик напоминает нам о том, что подвиги христианина на земле в борьбе со всеми страданиями, искушениями, соблазнами и страстями кончились, и теперь он ожидает за них награду в Царствии Небесном.</p>
                            Источник
						        <ul>
                                    <li>По материалам интервью с архимандритом Августином (Пидановым)</li>
                                </ul>
                            
                            
						</div>	
						
					</article>
					<article class="col1 pad_left1">
					@Html.Partial("Hotlinks");
					</article>
				</div>
				
			</section>
		</div>
	</div>
<!-- / content -->

