@{
    ViewBag.Title = "Исповедь";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Исповедь";
    ViewBag.PageId = "page1";
    ViewBag.ActiveClass = "nav1";
}
<!-- content -->
<div class="body5">
    <div class="body6">
        <div class="main">
            <div class="wrapper">
                <figure class="left">
                <img src="~/images/letter5.png" alt=""></figure>
                <h2>Таинство <span>покаяния</span>!</h2>
                Краткое описание таинства, порядок совершения и современные традиции.
            </div>
        </div>
    </div>
</div>
<div class="body7">
    <div class="main">
        <section id="content">
            <div class="wrapper">
                <article class="col2">
                    <div class="pad1">
                        <h2>Об исповеди</h2>
                        <p>Покаяние есть Таинство, в котором исповедующий грехи свои, при видимом изъявлении прощения от священника, невидимо разрешается от грехов Самим Иисусом Христом.</p>
                        Святитель Феофан Затворник (XVII в.) так определяет чин и порядок покаяния:
                            <ul>
                                <li>1) осознание своего греха пред Богом;</li>
                                <li>2) укорение себя в этом грехе с полным исповедованием своей вины, без перекладывания ответственности на других людей или на обстоятельства;</li>
                                <li>3) решимость оставить грех, возненавидеть его, не возвращаться к нему, не давать ему места в себе;</li>
                                <li>4) молитва к Богу о прощении греха, до умирения духа.</li>
                            </ul>
                        <br />
                        <ul>
                            <li>1) Осознание греха перед Богом, - т.е. не просто констатация греха, а именно греха перед Богом. Это предполагает, во-первых, веру, а во-вторых, обязательно личное отношение с Богом, связь с Ним, Богообщение. И это осознание - не протоколирование какого-то формального нарушения, а живое чувство того, что грех разлучил меня с Богом, что сделанное мною неприятно Богу моему, я этим огорчил, обидел, оскорбил Бога. Покаяние - не копание в себе и не холодный самоотчет, а живое ощущение, что грех разлучил меня с Богом. У кого такого чувства нет, тот в опасности формализировать свою внутреннюю жизнь.</li>
                            <li>2) Укорение себя, т.е. вменение себе ответственности за грех. Очень часто мы склонны перекладывать ответственность на обстоятельства, на других людей, на бесов, а себя оправдывать; а важно осознать, что именно мы не правы перед Богом.</li>
                            <li>3) Нужно положить решение сопротивляться греху, не возвращаться к нему, чего бы это нам не стоило. Без этого покаяние не будет покаянием, а превратится просто в некую, лицемерную по сути, констатацию факта. Нужно обязательно настроить себя на сопротивление греху.</li>
                            <li>4) Молиться Богу о прощении, - потому что своими силами мы ничего не можем, а только Господь прощает нас, умиряет наше сердце, возвращает нам Себя и утешает нас.</li>
                        </ul>
                        <p>Покаянные чувства должны приносить человеку не уныние и отчаяние, а благодать Святого Духа. Благодать Святого Духа свидетельствуется в душе тонким, мирным, радостным, смиренным, тихим, прохладным, истинно духовным чувством, дающим человеку мир, любовь и свободу, - и как бы «собирающим» человека в цельное и гармоничное существо, в то, чем он должен быть по замыслу Божию. И это, как пишет преподобный Макарий Великий, критерий правильности любого духовного делания: послушания, молитвы, чтения, хождения в храм, добрых дел и проч. Если то, что мы считаем покаянием, приносит нам в душу не благодать Духа Святого, а смущение, тяжесть, чувство вины - значит, мы покаяние понимаем неправильно.</p>
                        <p>Притом надо сказать, что покаяние не охватывает всего внутреннего делания, оно - часть его, пусть важнейшая, постоянная, никогда не прекращающаяся; но не всецелая. Покаяние невозможно без живой веры в Бога, без благодарения Бога и без многого другого. Иногда утверждают, что покаяние -цель духовной жизни. Правда, покаянием должно быть растворено, по слову святителя Игнатия (Брянчанинова), всякое наше духовное делание, особенно молитва. Да и вся внутренняя жизнь как неотъемлемую часть, как некое обязательное условие, должна включать в себя покаяние. Но покаяние - это не цель духовной жизни, а, пусть и важнейшее, но - средство. Цель же духовной жизни - Богообщение, и оно, как говорит свт. Феофан Затворник, должно свидетельствоваться чувством. «Не на крыльях или не на ногах, но чувством приближаемся мы к Богу» (блаж. Августин). Покаяние, собственно, и восстанавливает это чувство Богообщения: вот главное, что совершается в этом Таинстве и вот его место в духовной жизни.</p>
                    </div>
                </article>
                <article class="col1 pad_left1">
                    @Html.Partial("Hotlinks");
                </article>
            </div>

        </section>
    </div>
</div>
<!-- / content -->
