@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Освящение";
    ViewBag.PageId = "page1";
    ViewBag.ActiveClass = "nav1";
}
<!-- content -->
<div class="body5">
    <div class="body6">
        <div class="main">
            <div class="wrapper">
                <figure class="left">
                    <img src="~/images/temple.png" alt=""></figure>
                <h2>Обряд <span>освящения</span>!</h2>
                Краткое описание обряда, порядок совершения и современные традиции.
            </div>
        </div>
    </div>
</div>
<div class="body7">
    <div class="main">
        <section id="content">

            <div class="wrapper">
                <article class="col2">
                    <div class="pad1">
                        <h2>Что такое освящение?</h2>
                        <p>Освящением православные христиане называют обряды, через которые на их жизнь нисходит благословение Божие. Согласно учению Церкви в основе многообразных обрядов лежит, прежде всего, желание одухотворить человеческую деятельность, совершать ее по Божьему благословению. Важно понимать, что освящение места начинается с того момента, когда люди, въезжая в дом или квартиру, начинают там жить правильно. И поэтому освящение жилища священником есть подтверждение вашего желания жить в освященном месте, намерение исполнять христианские заповеди, памятуя о том, что семья - это малая церковь, а работа - место труда человека во славу Божию.</p>
                        <h2>Нужно ли освящать квартиру?</h2>
                        <p>Освящение квартиры не решает наших семейных, бытовых проблем, оно лишь помогает, оно настраивает. Человек сам волен выбирать, с Богом он живет или по своим страстям поступает. Если семья старается жить по-христиански, то и внутреннее и внешнее ее устроение должно об этом свидетельствовать. Внутренний строй налаживается и сохраняется через пост и молитву, посещение богослужений, а внешнее выражение намерения жить благочестиво находит себя, в том числе, в чине освящение жилища. Нужно помнить, что освящение дома – есть общая молитва семьи и священника о том, чтобы в этом месте люди жили свято</p>
                        <h2>Что нужно для освящения?</h2>
                        <p>Для освящения квартиры желательно, чтобы квартира была прибрана, завершен ремонт. Дома нужно подготовить небольшой столик, на котором священнику можно будет расположить необходимые для освящения священные предметы (устанавливается, как правило, в самом лучшем месте), чистая чаша для св. воды (салатница, ваза и т.п.)., примерно рюмка растительного масла (св.елей), св. воду священник привозит с собой. Обязательно, чтобы тот, кто заказал освящение жилища присутсвовал сам при этом чине и участвовал в молитве. Позволяется также при должном желании и умении с благословения священника читать некоторые молитвы при совершении чина. Во время освящения необходимо временно отключить телефоны, не разговаривать во время молитвы.</p>
                        <p>Освятить машину можно в любом православном храме. При этом следует помнить, что освящение автомобиля не магический ритуал, который гарантирует безопасность движения. Священный – значит посвященный Богу. Освящая машину, как, впрочем, и любую другую вещь, Церковь молится о том, чтобы она стала для ее владельца средством, которое приносит не только материальную, но и духовную пользу. Таким образом, освящая свой автомобиль, хозяин дает обещание его использовать для тех поездок, во время которых не будут нарушены нравственные заповеди Церкви и не будут совершены греховные поступки. К тому же, к освященному предмету нужно относиться с особым благоговением, поскольку теперь он принадлежит не только Вам, но и Богу. В освященном автомобиле нужно обязательно иметь иконку, и не следует держать никаких картинок легкомысленного содержания, нельзя сквернословить, курить, перевозить вещи, которые могут принести вред другим людям.</p>
                    </div>
                </article>
                <article class="col1 pad_left1">
                    @Html.Partial("Hotlinks");
                </article>
            </div>

        </section>
    </div>
</div>
<!-- / content -->

