@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
 }

@{
    ViewBag.Title = "Евхаристия";
    ViewBag.PageId = "page1";
    ViewBag.ActiveClass = "nav1";
}

<!-- content -->
	<div class="body5">
		<div class="body6">
			<div class="main">
				<div class="wrapper">
					<figure class="left"><img src="~/images/temple.png" alt=""></figure>
				    <h2>Таинство <span>евхаристии</span>!</h2>
					Краткое описание таинства, порядок совершения и современные традиции.</div>
			</div>
		</div>
	</div>
	<div class="body7">
		<div class="main">
			<section id="content">
				
				<div class="wrapper">
					<article class="col2">
                        <div class="pad1">
                            <h2>О таинстве евхаристии</h2>
                            <p>Таинство Евхаристии (Причащения) – центральное таинство Церкви. Соединившись с Церковью – телом Христовым через Крещение, православный христианин становится готов наполнить и свое тело спасительным присутствием Бога Сына.</p>
                            <p>В духовной жизни, как и в нашей земной телесной жизни, нам необходимо получать пищу. Во время таинства Евхаристии, принимая хлеб и вино из рук священника или епископа, мы принимаем истинные Тело и Кровь Христовы в оставление грехов и в жизнь вечную. <i>«Истинно, истинно говорю вам: если не будете есть Плоти Сына Человеческого и пить Крови Его, то не будете иметь в себе жизни... Ядущий Мою Плоть и пиющий Мою Кровь пребывает во Мне, и Я в нем.»</i> (Ин. 6:53,56).</p>
                            <p>Церковь всегда понимала и учила, что Святой Дух сходит во время литургии и изменяет хлеб и вино в истинные Тело и Кровь Христовы, и что это нельзя понимать лишь образно. Момент литургии, во время которого происходит преосуществление даров, называется Эпиклеза, призывание Святого Духа.<i> «Низпосли Духа твоего Святаго на ны и на предлежащия дары сия. И сотвори убо хлеб сей - честное Тело Христа Твоего, а еже в чаше сей - честную Кровь Христа Твоего, преложив Духом Твоим Святым. Аминь, аминь, аминь».</i></p>
                            <p>Эта молитва священника за литургией является призывом к Богу Отцу освятить принесенные нами хлеб и вино и сделать возможным присутствие среди нас воплотившегося и воскресшего Сына Божиего Иисуса Христа силой Святого Духа. Сам Иисус перед своей крестной смертью установил это Таинство, заповедовав своим ученикам совершать это в Его воспоминание (1 Кор. 11:23–26).  На Тайной вечери Иисус совершил жертвенную трапезу как образ Своих страстей ради нашего спасения. <i>«И когда они ели, Иисус взял хлеб и, благо¬словив, пре¬ломил и, раз¬давая уче¬никам, сказал: при¬имите, ядите: сие есть Тело Мое. И, взяв чашу и бла¬го¬дарив, подал им и сказал: пейте из нее все, ибо сие есть Кровь Моя Нового Завета, за многих изливаемая во оставле¬ние грехов»</i> (Мф. 26:26-28).</p>
                            <p>Таинство Евхаристии является тем центром, вокруг которого вращается вся жизнь Церкви. Это наше участие в жертве Христовой. Предлагая дары хлеба и вина «в Его воспоминание», мы становимся членами царственного священства (1 Петр. 2:9). Единственная и самодостаточная жертва Христа постоянно актуализируется на алтарном престоле, позволяя нам участвовать в искуплении, которое Он уже даровал нам. </p>
                            <p>Во время божественной литургии мы воздаем благодарность Богу за все, что Он сделал для нас ради воссоединения с Ним. Такое воздаяние называется по-гречески Евхаристия, «благодарение». Это – наша благодарность Богу в виде хлеба и вина, которые становятся истинными Телом и Кровью Спасителя нашего Иисуса Христа. Наша попытка благодарности Богу за все Его благодеяния приводит нас к общению с Ним, при-частию. Ради нашего спасения мы не можем сделать ничего больше этого: Бог уже по Своей воле сделал все за нас. </p>
                            <p>Таинство Евхаристии, то есть присутствие Христа посреди нас, это и есть завершение нашего путешествия к воссоединению с Богом.</p>
                            <p>Причащаясь, мы самым тесным образом соединяемся со Христом – Он пребывает в нас и мы в Нем. Поэтому мы должны как можно чаще приступать к Причастию. Церковные правила предписывают причащение по крайней мере четыре раза в год, обычно во время постов. Человек, не причащающийся хотя бы раз в год, отделяет себя от общения с Церковью.</p>
                            <p>Из-за важности таинства Святой Евхаристии необходимо очень тщательно готовиться к принятию Святых Даров: пост, исследование своей совести и исповедь являются неотъемлемыми элементами подготовки. Мы никогда не бываем достойны принять Святое Причастие, но так как Христос совершил наше спасение, нам остается лишь как можно тщательнее готовиться к соединению с Ним в Таинстве Евхаристии. </p>
                        </div>

                    </article>
					<article class="col1 pad_left1">
					@Html.Partial("Hotlinks");
					</article>
				</div>
				
			</section>
		</div>
	</div>
<!-- / content -->


