<h2>Таинства и требы</h2>
<ul class="list2">
    <li><a href="#">
        <img src="~/images/listpoint.gif" alt="">Беседа со священником</a></li>
    <li><a href="#">
        <img src="~/images/evangelie.png" alt="">Исповедь</a></li>
    <li><a href="#">
        <img src="~/images/bird.png" alt="">Крещение</a></li>
    <li><a href="#">
        <img src="~/images/cup.png" alt="">Причастие</a></li>    
    <li><a href="#">
        <img src="~/images/bird.png" alt="">Соборование</a></li>
    <li><a href="#">
        <img src="~/images/bird.png" alt="">Венчание</a></li>
    <li class="bg_none"><a href="#">
        <img src="~/images/golgofa.png" alt="">Осявящение</a></li>
    <li class="bg_none"><a href="#">
        <img src="~/images/golgofa.png" alt="">Отпевание</a></li>
</ul>
<div class="box1">
    <div class="box1_bot">
        <div class="box1_top">
            <div class="pad">
                <h2>Приходской лист</h2>
                Подписаться на ежемесячную рассылку:
								<form id="sign_up" method="post">
                                    <div>
                                        <input type="text" class="input">
                                        <a href="#" onclick="document.getElementById('sign_up').submit()">Подписаться</a>
                                    </div>
                                </form>
            </div>
        </div>
    </div>
</div>
