<h2><a href="~/Home/ServicesDescription">Таинства и требы</a></h2>
<ul class="list2">
    <li><a href="~/Home/Conversation"><img src="~/images/listpoint.png" alt="">Беседа со священником</a></li>
    <li><a href="~/Home/Confession"><img src="~/images/evangelie.png" alt="">Исповедь</a></li>
    <li><a href="~/Home/Baptismo"><img src="~/images/bird.png" alt="">Крещение</a></li>
    <li><a href="~/Home/Evharisto"><img src="~/images/cup.png" alt="">Причастие</a></li>    
    <li><a href="~/Home/ExtremeUnction"><img src="~/images/eleos.png" alt="">Соборование</a></li>
    <li><a href="~/Home/Wedding"><img src="~/images/venec.png" alt="">Венчание</a></li>
    <li><a href="~/Home/Consecration"><img src="~/images/agios.png" alt="">Осявящение</a></li>
    <li><a href="~/Home/Burial"><img src="~/images/golgofa.png" alt="">Отпевание</a></li>
</ul>
<div class="box1">
    <div class="box1_bot">
        <div class="box1_top">
            <div class="pad">
                <h2>Приходской лист</h2>
                Подписаться на ежемесячную рассылку:
								<form id="sign_up" method="post">
                                    <div>
                                        <input type="text" class="input">
                                        <a href="#" onclick="document.getElementById('sign_up').submit()">Подписаться</a>
                                    </div>
                                </form>
            </div>
        </div>
    </div>
</div>
