@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Лекции";
    ViewBag.PageId = "page1";
    ViewBag.ActiveClass = "nav1";
}

<!-- content -->
<div class="body5">
    <div class="body6">
        <div class="main">
            <div class="wrapper">
                <figure class="left">
                    <img src="~/images/letter5.png" alt=""></figure>
                <h2>Лекторий</h2>
            </div>
        </div>
    </div>
</div>
<div class="body7">
    <div class="main">
        <section id="content">

            <div class="wrapper">
                <article class="col2">
                    <div class="pad1">
                        <h2>О беседах</h2>
                        Одно из первых направлений, которое мо хотели бы открыть - это лекторий, в котором читались бы лекции взрослых на различные богословские темы. Для этих целей, мы планруем приглашать современных православных миссионеров и богословов, преподавателей духовных школ и православных университетов.
                    </div>

                </article>
                <article class="col1 pad_left1">
                    @Html.Partial("Hotlinks");
                </article>
            </div>

        </section>
    </div>
</div>
<!-- / content -->




