@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Библиотека избранных творений";
    ViewBag.PageId = "page1";
    ViewBag.ActiveClass = "nav1";
}

<!-- content -->
<div class="body5">
    <div class="body6">
        <div class="main">
            <div class="wrapper">
                <figure class="left">
                    <img src="~/images/temple.png" alt=""></figure>
                <h2>Библиотека избранных творений и статей</h2>
                "Наконец, братия мои, что только истинно, что честно, что справедливо, что чисто, что любезно, что достославно, что только добродетель и похвала, о том помышляйте" (Флп 4:8)
            </div>
        </div>
    </div>
</div>
<div class="body7">
    <div class="main">
        <section id="content">

            <div class="wrapper">
                <article class="col2">
                    <div class="pad1">
                        <h2>Современные документы</h2>
                        <ul>
                            <li>1. О службе мученику Уару <a href="~/Library/Апология/о%20служ%20мч.Уару.doc">(скачать)</a></li>
                            <li>2. В защиту благодатного огня  <a href="~/Library/Апология/в%20защиту%20благодатного%20огня.DOC">(скачать)</a>
                            <li>3. Социальная концепция о семье и браке <a href="~/Library/Апология/соц.концепция%20о%20семье%20и%20браке.doc">(скачать)</a>
                            <li>4. Социальная концепция РПЦ <a href="~/Library/Апология/социальная%20концепция%20РПЦ.doc">(скачать)</a>
                            <li>5. Исторя вопроса о подготовке к Святому Причастию <a href="~/Library/Апология/Подгот.%20ко%20Св.%20Причастию.doc">(скачать)</a>
                            <li>6. Проект документа «О подготовке ко Святому Причащению» <a href="~/Library/Апология/о%20причащении.doc">(скачать)</a>
                            <li>7. Об ЭКО <a href="~/Library/Апология/ЭКО.doc">(скачать)</a>
                        </ul>
                        <h2>Святоотеческое наследие</h2>
                        <ul>
                            <li>1. Григорий Нисский <a href="~/Library/Свтоотеческое%20наследие/Григорий%20Нисский.doc">(скачать)</a>
                            <li>2. О путешествующие в Иерусалим (свт.Григорий Нисский) <a href="~/Library/Свтоотеческое%20наследие/путешествующим%20в%20иерусалим%20свт.Григорий%20Нисский.doc">(скачать)</a>
                            <li>3. Иоанн Дамаскин <a href="~/Library/Свтоотеческое%20наследие/Иоанн%20Дамаскин.doc">(скачать)</a>
                            <li>4. Иустин Попович <a href="~/Library/Свтоотеческое%20наследие/Иустин%20Попович.zip">(скачать)</a>
                            <li>5. Николай Сербский <a href="~/Library/Свтоотеческое%20наследие/Николай%20Сербский.zip">(скачать)</a>
                            <li>6. Дивеевские святые <a href="~/Library/Свтоотеческое%20наследие/Дивеевские%20святые.zip">(скачать)</a>
                            <li>7. Оптинские Старцы <a href="~/Library/Свтоотеческое%20наследие/Оптинские%20старцы.zip">(скачать)</a>
                            <li>8. Притчи Симеона Дайбабского <a href="~/Library/Свтоотеческое%20наследие/притчи%20Симеона%20Дайбабского.txt">(скачать)</a>
                            <li>9. О частом причащении (прп.Никодим Святогорец) <a href="~/Library/Свтоотеческое%20наследие/О%20частом%20причащении%20прп.Никодим.doc">(скачать)</a>
                            <li>10. О чтении Евангелия (свт.Игнатий Брянчанинов) <a href="~/Library/Свтоотеческое%20наследие/О%20ЧТЕНИИ%20ЕВАНГЕЛИЯ.doc">(скачать)</a>
                        </ul>
                        <h2>Литература</h2>
                        <ul>
                            <li>1. Апокрифы <a href="~/Library/Литература/Апокрифы.zip">(скачать)</a></li>
                            <li>2. Книга скорбных песнопений <a href="~/Library/Литература/Книга%20скорбных%20песнопений.doc">(скачать)</a></li>
                            <li>3. Любовь <a href="~/Library/Литература/Любовь.doc">(скачать)</a></li> 
                            <li>4. Отцы пустынники смеются <a href="~/Library/Литература/Отцы%20пустынники%20смеются.doc">(скачать)</a></li>
                            <li>5. Письмо к Богу <a href="~/Library/Литература/Письмо%20к%20Богу.doc">(скачать)</a></li>
                        </ul>
                    </div>

                </article>
                <article class="col1 pad_left1">
                    @Html.Partial("Hotlinks");
                </article>
            </div>

        </section>
    </div>
</div>
<!-- / content -->




