@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
 }

@{
    ViewBag.Title = "Медиатека";
    ViewBag.PageId = "page3";
    ViewBag.ActiveClass = "nav3";
}

<!-- content -->
	<div class="body5">
		<div class="body6">
			<div class="main">
				<div class="wrapper">
					<figure class="left"><img src="~/images/temple.png" alt=""></figure>
				    <h2>Жизнь прихода в <span>фотографиях и видео</span>!</h2>
					Здесь тоже какой-то текст</div>
			</div>
		</div>
	</div>
	<div class="body7">
		<div class="main">
			<section id="content">
				<div class="wrapper">
					<article class="col2">
                        <div class="pad1">
                            <h2>Фото, Видео</h2>
                        </div>
                        <iframe src="http://vk.com/video_ext.php?oid=-47640062&id=165389151&hash=fff79790fb6cdba2&hd=1" width="607" height="360" frameborder="0"></iframe><br />
                        <iframe src="http://vk.com/video_ext.php?oid=-47640062&id=164931135&hash=b6c8ca0b13435911&hd=1" width="607" height="360" frameborder="0"></iframe><br />
                        <iframe src="http://vk.com/video_ext.php?oid=-47640062&id=164906715&hash=801a30a0f93a4ce7&hd=1" width="607" height="360" frameborder="0"></iframe><br />
                    </article>
					<article class="col1 pad_left1">
					@Html.Partial("Hotlinks");
					</article>
				</div>
				
			</section>
		</div>
	</div>
<!-- / content -->


