@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Молебен";
    ViewBag.PageId = "page1";
    ViewBag.ActiveClass = "nav1";
}

<!-- content -->
<div class="body5">
    <div class="body6">
        <div class="main">
            <div class="wrapper">
                <figure class="left">
                    <img src="~/images/temple.png" alt=""></figure>
                <h2>Миссионерский молебен</h2>
                «Всегда радуйтесь, непрестанно молитесь, за все благодарите» (1 Фес. 5: 16–18)
            </div>
        </div>
    </div>
</div>
<div class="body7">
    <div class="main">
        <section id="content">

            <div class="wrapper">
                <article class="col2">
                    <div class="pad1">
                        <h2>О молебне</h2>
                        Каждую пятницу мы совершаем молебен, во время которого освящается вода, и совершаются особые прошения о различных житейских нуждах.
                        Уточнить время молебна вы можете в разделе <a href="~/Home/Service">Богослужение</a>.
                        После молебна вы всегда можете подойти к священнику и задать интересующий вас вопрос.					    
                    </div>

                </article>
                <article class="col1 pad_left1">
                    @Html.Partial("Hotlinks");
                </article>
            </div>

        </section>
    </div>
</div>
<!-- / content -->




