@{
    ViewBag.Title = "Богослужение";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ActiveClass = "nav4";
}
<!-- content -->
	<div class="body5">
		<div class="body6">
			<div class="main">
				<div class="wrapper">
					<figure class="left"><img src="~/images/temple.png" alt=""></figure>
					<h2>Свежая информация о расписнии <span>церковных служб</span></h2>
					Здесь наверное будет какой-то текст.
				</div>
			</div>
		</div>
	</div>
	<div class="body7">
		<div class="main">
			<section id="content">
				<div class="wrapper">
					<article class="col2">
						<div class="pad1">
							<h2>Расписание на <span>МАРТ</span> месяц:</h2>
							<div class="wrapper">
								<figure class="left"><img src="~/images/marker_1.gif" alt=""></figure>
								<div class="cols">
									<p><span class="font1"><strong>22.02.2011</strong>  <a href="#">At vero eos et accusamus et iusto odio dignissimos</a></span>
									Quas molestias excepturi sint occaecati cupiditate non provident, similique suntulpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
								</div>
							</div>
							<div class="wrapper">
								<figure class="left"><img src="~/images/marker_1.gif" alt=""></figure>
								<div class="cols">
									<p><span class="font1"><strong>10.02.2011 </strong>  <a href="#">Eque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur</a></span>
									Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus idod maxime placeat facere possimus, omnis voluptas assumenda.</p>
								</div>
							</div>
							<div class="wrapper">
								<figure class="left"><img src="~/images/marker_1.gif" alt=""></figure>
								<div class="cols">
									<p><span class="font1"><strong>29.01.2011 </strong>  <a href="#">Utenim ad minima veniam, quis nostrum exercitationem ullam<br>
									</a></span>
									Eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaquarum rerum hic tenetur a sapiente delectusut aut reiciendis.</p>
								</div>
							</div>
							<div class="wrapper pad_bot1">
								<figure class="left"><img src="~/images/marker_1.gif" alt=""></figure>
								<div class="cols">
									<p><span class="font1"><strong>23.01.2011 </strong>  <a href="#">Quis autem vel eum iure reprehenderit</a></span>
									Voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaenim ad minim veniam.</p>
								</div>
							</div>
<div class=WordSection1>

<p class=MsoNormal><b><span style='font-size:8.5pt;line-height:115%;font-family:
"Tahoma","sans-serif";color:black;background:white'>Суббота 02 марта</span></b><span
class=apple-converted-space><span style='font-size:8.5pt;line-height:115%;
font-family:"Tahoma","sans-serif";color:black;background:white'><span
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
float:none;word-spacing:0px'>&nbsp;</span></span></span><span style='font-size:
8.5pt;line-height:115%;font-family:"Tahoma","sans-serif";color:black'><br
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<span style='background:white'><span style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;
-webkit-text-stroke-width: 0px;float:none;word-spacing:0px'>Вмч. Феодора Тирона
(306). Сщмч. Ермогена, Патриарха Московского и всея России, чудотворца (1612)<span
class=apple-converted-space>&nbsp;</span></span></span><br style='orphans: 2;
widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<b style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='background:white'>16.00</span></b><span
class=apple-converted-space><span style='background:white'><span
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
float:none;word-spacing:0px'>&nbsp;</span></span><span style='background:white'>Исповедь<span
class=apple-converted-space>&nbsp;</span></span></span><br style='orphans: 2;
widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<b style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='background:white'>17.00</span></b><span
class=apple-converted-space><span style='background:white'><span
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
float:none;word-spacing:0px'>&nbsp;</span></span><span style='background:white'>Всенощное
бдение<span class=apple-converted-space>&nbsp;</span></span></span><br
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<br style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<b style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='background:white'>Воскресенье 03 марта</span></b><span
class=apple-converted-space><span style='background:white'><span
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
float:none;word-spacing:0px'>&nbsp;</span></span></span><br style='orphans: 2;
widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<span style='background:white'><span style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;
-webkit-text-stroke-width: 0px;float:none;word-spacing:0px'>Неделя о блудном
сыне. Свт. Льва, Папы Римского (461)<span class=apple-converted-space>&nbsp;</span></span></span><br
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<b style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='background:white'>9.00</span></b><span
class=apple-converted-space><span style='background:white'><span
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
float:none;word-spacing:0px'>&nbsp;</span></span><span style='background:white'>Божественная
литургия<span class=apple-converted-space>&nbsp;</span></span></span><br
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<br style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<b style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='background:white'>Четверг 07 марта</span></b><span
class=apple-converted-space><span style='background:white'><span
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
float:none;word-spacing:0px'>&nbsp;</span></span></span><br style='orphans: 2;
widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<span style='background:white'><span style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;
-webkit-text-stroke-width: 0px;float:none;word-spacing:0px'>Обретение мощей
мучеников, иже во Евгении (395-423)<span class=apple-converted-space>&nbsp;</span></span></span><br
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<b style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='background:white'>16.00</span></b><span
class=apple-converted-space><span style='background:white'><span
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
float:none;word-spacing:0px'>&nbsp;</span></span><span style='background:white'>Исповедь<span
class=apple-converted-space>&nbsp;</span></span></span><br style='orphans: 2;
widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<b style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='background:white'>17.00</span></b><span
class=apple-converted-space><span style='background:white'><span
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
float:none;word-spacing:0px'>&nbsp;</span></span><span style='background:white'>Полиелей<span
class=apple-converted-space>&nbsp;</span></span></span><br style='orphans: 2;
widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<br style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<b style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='background:white'>Пятница 08 марта</span></b><span
class=apple-converted-space><span style='background:white'><span
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
float:none;word-spacing:0px'>&nbsp;</span></span></span><br style='orphans: 2;
widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<span style='background:white'><span style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;
-webkit-text-stroke-width: 0px;float:none;word-spacing:0px'>Первое и второе
обретение главы Иоанна Предтечи. Сщмч. Поликарпа, еп. Смирнского (167)<span
class=apple-converted-space>&nbsp;</span></span></span><br style='orphans: 2;
widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<b style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='background:white'>9.00</span></b><span
class=apple-converted-space><span style='background:white'><span
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
float:none;word-spacing:0px'>&nbsp;</span></span><span style='background:white'>Божественная
литургия<span class=apple-converted-space>&nbsp;</span></span></span><br
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<b style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='background:white'>17.00</span></b><span
class=apple-converted-space><span style='background:white'><span
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
float:none;word-spacing:0px'>&nbsp;</span></span><span style='background:white'>Вечернее
богослужение<span class=apple-converted-space>&nbsp;</span></span></span><br
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<br style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<b style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='background:white'>Суббота 09 марта</span></b><span
class=apple-converted-space><span style='background:white'><span
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
float:none;word-spacing:0px'>&nbsp;</span></span></span><br style='orphans: 2;
widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<span style='background:white'><span style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;
-webkit-text-stroke-width: 0px;float:none;word-spacing:0px'>Вселенская
родительская (мясопустная) суббота.<span class=apple-converted-space>&nbsp;</span></span></span><br
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<b style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='background:white'>9.00</span></b><span
class=apple-converted-space><span style='background:white'><span
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
float:none;word-spacing:0px'>&nbsp;</span></span><span style='background:white'>Божественная
литургия. Панихида<span class=apple-converted-space>&nbsp;</span></span></span><br
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<b style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='background:white'>16.00</span></b><span
class=apple-converted-space><span style='background:white'><span
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
float:none;word-spacing:0px'>&nbsp;</span></span><span style='background:white'>Исповедь<span
class=apple-converted-space>&nbsp;</span></span></span><br style='orphans: 2;
widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<b style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='background:white'>17.00</span></b><span
class=apple-converted-space><span style='background:white'><span
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
float:none;word-spacing:0px'>&nbsp;</span></span><span style='background:white'>Всенощное
бдение<span class=apple-converted-space>&nbsp;</span></span></span><br
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<br style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<b style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='background:white'>Воскресенье 10 марта</span></b><span
class=apple-converted-space><span style='background:white'><span
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
float:none;word-spacing:0px'>&nbsp;</span></span></span><br style='orphans: 2;
widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<span style='background:white'><span style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;
-webkit-text-stroke-width: 0px;float:none;word-spacing:0px'>Неделя о Страшном
суде. Заговенье на мясо.<span class=apple-converted-space>&nbsp;</span></span></span><br
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<b style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='background:white'>9.00</span></b><span
class=apple-converted-space><span style='background:white'><span
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
float:none;word-spacing:0px'>&nbsp;</span></span><span style='background:white'>Божественная
литургия<span class=apple-converted-space>&nbsp;</span></span></span><br
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<br style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<b style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='background:white'>Пятница 15 марта</span></b><span
class=apple-converted-space><span style='background:white'><span
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
float:none;word-spacing:0px'>&nbsp;</span></span></span><br style='orphans: 2;
widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<span style='background:white'><span style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;
-webkit-text-stroke-width: 0px;float:none;word-spacing:0px'>Иконы Божией
матери, именуемой &quot;Державная&quot; (1917).<span
class=apple-converted-space>&nbsp;</span></span></span><br style='orphans: 2;
widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<b style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='background:white'>17.00</span></b><span
class=apple-converted-space><span style='background:white'><span
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
float:none;word-spacing:0px'>&nbsp;</span></span><span style='background:white'>Молебен
c водосвятием. Исповедь<span class=apple-converted-space>&nbsp;</span></span></span><br
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<br style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<b style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='background:white'>Суббота 16 марта</span></b><span
class=apple-converted-space><span style='background:white'><span
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
float:none;word-spacing:0px'>&nbsp;</span></span></span><br style='orphans: 2;
widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<span style='background:white'><span style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;
-webkit-text-stroke-width: 0px;float:none;word-spacing:0px'>Всех преподобных
отцов, в подвиге просиявших.<span class=apple-converted-space>&nbsp;</span></span></span><br
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<b style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='background:white'>9.00</span></b><span
class=apple-converted-space><span style='background:white'><span
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
float:none;word-spacing:0px'>&nbsp;</span></span><span style='background:white'>Божественная
литургия. Панихида<span class=apple-converted-space>&nbsp;</span></span></span><br
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<b style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='background:white'>16.00</span></b><span
class=apple-converted-space><span style='background:white'><span
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
float:none;word-spacing:0px'>&nbsp;</span></span><span style='background:white'>Исповедь<span
class=apple-converted-space>&nbsp;</span></span></span><br style='orphans: 2;
widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<b style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='background:white'>17.00</span></b><span
class=apple-converted-space><span style='background:white'><span
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
float:none;word-spacing:0px'>&nbsp;</span></span><span style='background:white'>Всенощное
бдение<span class=apple-converted-space>&nbsp;</span></span></span><br
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<br style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<b style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='background:white'>Воскресенье 17 марта</span></b><span
class=apple-converted-space><span style='background:white'><span
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
float:none;word-spacing:0px'>&nbsp;</span></span></span><br style='orphans: 2;
widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<span style='background:white'><span style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;
-webkit-text-stroke-width: 0px;float:none;word-spacing:0px'>Неделя сыропустная.
Прощеное воскресенье. Заговенье на Великий пост.<span
class=apple-converted-space>&nbsp;</span></span></span><br style='orphans: 2;
widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<b style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='background:white'>9.00</span></b><span
class=apple-converted-space><span style='background:white'><span
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
float:none;word-spacing:0px'>&nbsp;</span></span><span style='background:white'>Божественная
литургия. Вечерня с чином прощения.<span class=apple-converted-space>&nbsp;</span></span></span><br
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<br style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<b style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='background:white'>Понедельник 18 марта</span></b><span
class=apple-converted-space><span style='background:white'><span
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
float:none;word-spacing:0px'>&nbsp;</span></span></span><br style='orphans: 2;
widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<span style='background:white'><span style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;
-webkit-text-stroke-width: 0px;float:none;word-spacing:0px'>Седмица 1-я
Великого Поста. Обретение мощей блгв. князей Феодора Смоленского и чад его
Давида и Константина, Ярославских чудотворцев (1463).<span
class=apple-converted-space>&nbsp;</span></span></span><br style='orphans: 2;
widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<b style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='background:white'>8.00</span></b><span
class=apple-converted-space><span style='background:white'><span
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
float:none;word-spacing:0px'>&nbsp;</span></span><span style='background:white'>Утренне
богослужение<span class=apple-converted-space>&nbsp;</span></span></span><br
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<b style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='background:white'>18.00</span></b><span
class=apple-converted-space><span style='background:white'><span
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
float:none;word-spacing:0px'>&nbsp;</span></span><span style='background:white'>Великое
повечерие с чтением<span class=apple-converted-space>&nbsp;</span></span><b
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>Канона прп. Андрея Критского.</b><span
class=apple-converted-space><span style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;
-webkit-text-stroke-width: 0px;float:none;word-spacing:0px'>&nbsp;</span></span></span><br
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<br style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<b style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='background:white'>Вторник 19 марта</span></b><span
class=apple-converted-space><span style='background:white'><span
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
float:none;word-spacing:0px'>&nbsp;</span></span></span><br style='orphans: 2;
widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<span style='background:white'><span style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;
-webkit-text-stroke-width: 0px;float:none;word-spacing:0px'>Мч. 42-х во Амморее
Константина, Аетия, Феофила, Феодора, Мелиссена, Каллиста, Васоя и прочих с
ними (ок. 845).<span class=apple-converted-space>&nbsp;</span></span></span><br
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<b style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='background:white'>8.00</span></b><span
class=apple-converted-space><span style='background:white'><span
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
float:none;word-spacing:0px'>&nbsp;</span></span><span style='background:white'>Утренне
богослужение<span class=apple-converted-space>&nbsp;</span></span></span><br
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<b style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='background:white'>16.00</span></b><span
class=apple-converted-space><span style='background:white'><span
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
float:none;word-spacing:0px'>&nbsp;</span></span><span style='background:white'>Исповедь<span
class=apple-converted-space>&nbsp;</span></span></span><br style='orphans: 2;
widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<b style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='background:white'>18.00</span></b><span
class=apple-converted-space><span style='background:white'><span
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
float:none;word-spacing:0px'>&nbsp;</span></span><span style='background:white'>Великое
повечерие с чтением</span><span class=apple-converted-space><b
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>&nbsp;</b></span><b>Канона прп.Андрея Критского.</b><span
class=apple-converted-space><span style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;
-webkit-text-stroke-width: 0px;float:none;word-spacing:0px'>&nbsp;</span></span></span><br
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<br style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<b style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='background:white'>Среда 20 марта</span></b><span
class=apple-converted-space><span style='background:white'><span
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
float:none;word-spacing:0px'>&nbsp;</span></span></span><br style='orphans: 2;
widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<span style='background:white'><span style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;
-webkit-text-stroke-width: 0px;float:none;word-spacing:0px'>Священномучеников,
в Херсонесе епископствовавших: Василия, Ефрема, Капитона, Евгения, Еферия,
Елпидия и Агафодора (IV)<span class=apple-converted-space>&nbsp;</span></span></span><br
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<b style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='background:white'>8.00</span></b><span
class=apple-converted-space><span style='background:white'><span
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
float:none;word-spacing:0px'>&nbsp;</span></span><span style='background:white'>Утреннее
богослужение с литургией Преждеосвященных даров.<span
class=apple-converted-space>&nbsp;</span></span></span><br style='orphans: 2;
widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<b style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='background:white'>18.00</span></b><span
class=apple-converted-space><span style='background:white'><span
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
float:none;word-spacing:0px'>&nbsp;</span></span><span style='background:white'>Великое
повечерие с чтением</span><span class=apple-converted-space><b
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>&nbsp;</b></span><b>Канона прп. Aндрея Критского.</b><span
class=apple-converted-space><span style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;
-webkit-text-stroke-width: 0px;float:none;word-spacing:0px'>&nbsp;</span></span></span><br
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<b style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='background:white'><br>
Четверг 21 марта</span></b><span class=apple-converted-space><span
style='background:white'><span style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;
-webkit-text-stroke-width: 0px;float:none;word-spacing:0px'>&nbsp;</span></span></span><br
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<span style='background:white'><span style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;
-webkit-text-stroke-width: 0px;float:none;word-spacing:0px'>Прп. Феофилакта
исп., еп. Никомидийского (842-845).<span class=apple-converted-space>&nbsp;</span></span></span><br
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<b style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='background:white'>8.00</span></b><span
class=apple-converted-space><span style='background:white'><span
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
float:none;word-spacing:0px'>&nbsp;</span></span><span style='background:white'>Утреннее
богослужение<span class=apple-converted-space>&nbsp;</span></span></span><br
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<b style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='background:white'>16.00</span></b><span
class=apple-converted-space><span style='background:white'><span
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
float:none;word-spacing:0px'>&nbsp;</span></span><span style='background:white'>Исповедь<span
class=apple-converted-space>&nbsp;</span></span></span><br style='orphans: 2;
widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<b style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='background:white'>18.00</span></b><span
class=apple-converted-space><span style='background:white'><span
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
float:none;word-spacing:0px'>&nbsp;</span></span><span style='background:white'>Великое
повечерие с чтением<span class=apple-converted-space>&nbsp;</span></span><b
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>Канона прп.Андрея Критского.</b><span
class=apple-converted-space><span style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;
-webkit-text-stroke-width: 0px;float:none;word-spacing:0px'>&nbsp;</span></span></span><br
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<br style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<b style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='background:white'>Пятница 22 марта</span></b><span
class=apple-converted-space><span style='background:white'><span
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
float:none;word-spacing:0px'>&nbsp;</span></span></span><br style='orphans: 2;
widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<span style='background:white'><span style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;
-webkit-text-stroke-width: 0px;float:none;word-spacing:0px'>Св. Кесария, брата
свт. Григория Богослова (ок. 369)<span class=apple-converted-space>&nbsp;</span></span></span><br
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<b style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='background:white'>8.00</span></b><span
class=apple-converted-space><span style='background:white'><span
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
float:none;word-spacing:0px'>&nbsp;</span></span><span style='background:white'>Литургия
Преждеосвященных даров. Освящение и раздача колива.<span
class=apple-converted-space>&nbsp;</span></span></span><br style='orphans: 2;
widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<b style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='background:white'>16.00</span></b><span
class=apple-converted-space><span style='background:white'><span
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
float:none;word-spacing:0px'>&nbsp;</span></span><span style='background:white'>Исповедь<span
class=apple-converted-space>&nbsp;</span></span></span><br style='orphans: 2;
widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<b style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='background:white'>17.00</span></b><span
class=apple-converted-space><span style='background:white'><span
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
float:none;word-spacing:0px'>&nbsp;</span></span><span style='background:white'>Полиелей<span
class=apple-converted-space>&nbsp;</span></span></span><br style='orphans: 2;
widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<b style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='background:white'><br>
Суббота 23 марта</span></b><span class=apple-converted-space><span
style='background:white'><span style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;
-webkit-text-stroke-width: 0px;float:none;word-spacing:0px'>&nbsp;</span></span></span><br
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<span style='background:white'><span style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;
-webkit-text-stroke-width: 0px;float:none;word-spacing:0px'>40 мучеников, в
Севастийском озере мучившихся.<span class=apple-converted-space>&nbsp;</span></span></span><br
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<b style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='background:white'>9.00</span></b><span
class=apple-converted-space><span style='background:white'><span
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
float:none;word-spacing:0px'>&nbsp;</span></span><span style='background:white'>Божественная
литургия<span class=apple-converted-space>&nbsp;</span></span></span><br
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<b style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='background:white'>15.00</span></b><span
class=apple-converted-space><span style='background:white'><span
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
float:none;word-spacing:0px'>&nbsp;</span></span><span style='background:white'>Исповедь<span
class=apple-converted-space>&nbsp;</span></span></span><br style='orphans: 2;
widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<b style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='background:white'>17.00</span></b><span
class=apple-converted-space><span style='background:white'><span
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
float:none;word-spacing:0px'>&nbsp;</span></span><span style='background:white'>Всенощное
бдение<span class=apple-converted-space>&nbsp;</span></span></span><br
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<br style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<b style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='background:white'>Воскресенье 24 марта</span></b><span
class=apple-converted-space><span style='background:white'><span
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
float:none;word-spacing:0px'>&nbsp;</span></span></span><br style='orphans: 2;
widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<span style='background:white'><span style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;
-webkit-text-stroke-width: 0px;float:none;word-spacing:0px'>Неделя 1-я Великого
поста. Торжество Православия. Прп.Димитрия Прилуцкого, Вологодского.<span
class=apple-converted-space>&nbsp;</span></span></span><br style='orphans: 2;
widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<b style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='background:white'>9.00</span></b><span
class=apple-converted-space><span style='background:white'><span
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
float:none;word-spacing:0px'>&nbsp;</span></span><span style='background:white'>Божественная
литургия. Благодарственный молебен<span class=apple-converted-space>&nbsp;</span></span></span><br
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<br style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<b style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='background:white'>Четверг 28 марта</span></b><span
class=apple-converted-space><span style='background:white'><span
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
float:none;word-spacing:0px'>&nbsp;</span></span></span><br style='orphans: 2;
widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<span style='background:white'><span style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;
-webkit-text-stroke-width: 0px;float:none;word-spacing:0px'>Мч. Агапия и с ним
семи мучеников.<span class=apple-converted-space>&nbsp;</span></span></span><br
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<b style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='background:white'>17.00</span></b><span
class=apple-converted-space><span style='background:white'><span
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
float:none;word-spacing:0px'>&nbsp;</span></span><span style='background:white'>Исповедь<span
class=apple-converted-space>&nbsp;</span></span></span><br style='orphans: 2;
widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<br style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<b style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='background:white'>Пятница 29 марта</span></b><span
class=apple-converted-space><span style='background:white'><span
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
float:none;word-spacing:0px'>&nbsp;</span></span></span><br style='orphans: 2;
widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<span style='background:white'><span style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;
-webkit-text-stroke-width: 0px;float:none;word-spacing:0px'>Мч. Савина (287).
Мч. Папы (305-311).<span class=apple-converted-space>&nbsp;</span></span></span><br
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<b style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='background:white'>9.00</span></b><span
class=apple-converted-space><span style='background:white'><span
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
float:none;word-spacing:0px'>&nbsp;</span></span><span style='background:white'>Утреннее
богослужение с литургией Преждеосвященных даров.<span
class=apple-converted-space>&nbsp;</span></span></span><br style='orphans: 2;
widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<b style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='background:white'>17.00</span></b><span
class=apple-converted-space><span style='background:white'><span
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
float:none;word-spacing:0px'>&nbsp;</span></span><span style='background:white'>Вечернее
богослужение.<span class=apple-converted-space>&nbsp;</span></span></span><br
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<br style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<b style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='background:white'>Суббота 30 марта</span></b><span
class=apple-converted-space><span style='background:white'><span
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
float:none;word-spacing:0px'>&nbsp;</span></span></span><br style='orphans: 2;
widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<span style='background:white'><span style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;
-webkit-text-stroke-width: 0px;float:none;word-spacing:0px'>Поминовение
усопших. Прп. Алексия, человека Божия (411).<span class=apple-converted-space>&nbsp;</span></span></span><br
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<b style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='background:white'>9.00</span></b><span
class=apple-converted-space><span style='background:white'><span
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
float:none;word-spacing:0px'>&nbsp;</span></span><span style='background:white'>Божественная
литургия<span class=apple-converted-space>&nbsp;</span></span></span><br
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<b style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='background:white'>15.00</span></b><span
class=apple-converted-space><span style='background:white'><span
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
float:none;word-spacing:0px'>&nbsp;</span></span><span style='background:white'>Исповедь<span
class=apple-converted-space>&nbsp;</span></span></span><br style='orphans: 2;
widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<b style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='background:white'>17.00</span></b><span
class=apple-converted-space><span style='background:white'><span
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
float:none;word-spacing:0px'>&nbsp;</span></span><span style='background:white'>Всенощное
бдение<span class=apple-converted-space>&nbsp;</span></span></span><br
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<b style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='background:white'><br>
Воскресенье 31 марта</span></b><span class=apple-converted-space><span
style='background:white'><span style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;
-webkit-text-stroke-width: 0px;float:none;word-spacing:0px'>&nbsp;</span></span></span><br
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<span style='background:white'><span style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;
-webkit-text-stroke-width: 0px;float:none;word-spacing:0px'>Неделя 2-я Великого
поста. Свт. Григория Паламы, архиеп. Солунского. Свт. Кирилла, архиеп.
Иерусалимского (386)<span class=apple-converted-space>&nbsp;</span></span></span><br
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'>
<b style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
word-spacing:0px'><span style='background:white'>9.00</span></b><span
class=apple-converted-space><span style='background:white'><span
style='orphans: 2;widows: 2;-webkit-text-size-adjust: auto;-webkit-text-stroke-width: 0px;
float:none;word-spacing:0px'>&nbsp;</span></span><span style='background:white'>Божественная
литургия</span></span></span></p>

</div>




</div>



						</div>
					</article>
					<article class="col1 pad_left1">
					@Html.Partial("Hotlinks");
					</article></section>
		</div>
		@*		<div class="wrapper">
				<article class="col1">
					<div class="box1"><div class="box1_bot"><div class="box1_top">
						<div class="pad"><div class="pad1">
							<h2 class="center">Think.</h2>
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
							<div class="wrapper center">
								<a href="#" class="button"><span><span>More</span></span></a>
							</div>
						</div></div>
					</div></div></div>
        		</article>
				<article class="col1 pad_left1">
					<div class="box1"><div class="box1_bot"><div class="box1_top">
						<div class="pad">
								<div class="pad1">
							<h2 class="center">Choose.</h2>
							<p>Veritatis quasi architecto beatae bitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia.</p>
							<div class="wrapper center">
								<a href="#" class="button"><span><span>More</span></span></a>
							</div>
						</div></div>
					</div></div></div>
        		</article>
				<article class="col1 pad_left1">
					<div class="box1"><div class="box1_bot"><div class="box1_top">
						<div class="pad">
								<div class="pad1">
							<h2 class="center">Succeed.</h2>
							<p>Quuntur magni dolores eos qui ratione voluptatem sequi nesciunt neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur.</p>
							<div class="wrapper center">
								<a href="#" class="button"><span><span>More</span></span></a>
							</div>
						</div></div>
					</div></div></div>
        		</article>
				</div>*@
			
		</div>
<!-- / content -->

