<li><a href="#">Чаепитие с батюшкой</a></li>
<li><a href="#">Молодежка</a></li>
<li><a href="#">Приходской листок</a></li>
<li><a href="#">Дом престарелых</a></li>
<li><a href="#">Кинозал</a></li>