<li><a href="#">Воскресная школа</a></li>
<li><a href="#">Больничные службы</a></li>
<li><a href="#">Лекторий</a></li>
<li><a href="#">Богословский кужок</a></li>
<li><a href="#">Миссионерский молебен</a></li>