@{
    ViewBag.Title = "О храме";
    ViewBag.PageId = "page4";
    ViewBag.ActiveClass = "nav2";
}
  <script>
  $(function() {
    $( "#tabs" ).tabs();
  });
  </script>
    <div class="body5">
        <div class="body6">
            <div class="main">
                <div class="wrapper">
                    <figure class="left">
                        <img src="~/images/temple.png" alt="">
                    </figure>                    
                    <h2>О <span>Троицком </span>храме!</h2>
                    <span class="content_title">Приход православного храма Святой Троицы Балашихинского викариатства Московской епархии.</span>
                </div>
            </div>
        </div>
    </div>
    <div class="body7">
        <div class="main">
            <section id="content">
                <div class="wrapper">
                    <article class="col2">
                        <div class="pad1">
                            <div id="tabs">
                                <ul>
                                    <li><a href="#tabs-1">История храма</a></li>
                                    <li><a href="#tabs-2">Престолы храма</a></li>
                                    <li><a href="#tabs-3">Духовенство</a></li>
                                </ul>
                                <div id="tabs-1">
                                    <h2>История храма:</h2>
                                    <p>В Реутове долгое время не было православного храма.  В начале XX века при Реутовской мануфактуре был устроен молельный дом. В 1919 г. на праздник Казанской иконы Божией Матери его посетил свт. Тихон (Белавин) вскоре после своего избрания на патриарший престол.</p>
                                    <p>Лишь на рубеже ХХ-XXI столетий на южной стороне Реутова был возведен Казанский храм.</p>
                                    <p>Официальная дата основания Троицкого храма — 20 июля 2008 года. В этот день горожане отмечали престольный праздник недавно построенного Казанского храма. Отсюда, после завершения всенощного бдения, был организован крестный ход в центральную часть города, где был выделен участок земли для строительства нового храма. На месте будущего строительства были установлены и освещены крест и закладной камень.</p>
                                    <p>Инициатором строительства храма стал глава города Реутова А. Н. Ходырев. Деньги на строительство были пожертвованы различными организациями и предприятиями города, а также многими горожанами.</p>
                                    <p>Непосредственно строительные работы были начаты через полгода после закладки камня. Из-за большого объёма работ строительство растянулось на несколько лет. К лету 2009 года был закончен цокольный этаж. </p>
                                    <p>Основной объём работ пришёлся на 2010-2011 годы. 30 июня 2011 года были установлены малые купола и освящены кресты. 18 августа водружён центральный купол и установлены кресты на малые главки, а 10 сентября был установлен крест на центральный купол. К концу 2011 года были завершены все наружные работы, вплоть до благоустройства прилегающих территорий. </p>
                                    <p>Согласно заверениям городских властей полная отделка внутренних помещений потребует больших финансовых затрат и может занять ещё несколько лет.</p>
                                    <img src="~/images/tikhon.jpg" alt="Приезд патриарха Тихона в Реутов" />
                                </div>
                                <div id="tabs-2">
                                    <h2>Престолы храма:</h2>
                                    <p>В Троицком храме планируется освятить три престола, по числу этажей храма. </p>
                                    <p>На нижнем этаже (подземном) расположится крестильный храм, с престолом в честь праздника Богоявления Господня.</p>
                                    <p>На первом этаже (стилобатном), в котором сейчас и совершаются богослужения, престол будет освящен в честь святителя Тихона, патриарха Московского (1865-1925). Святитель Тихон имеет особое отношение к духовной истории Реутова, так как он посещал наш город в 1918 году. Примечательно, что здание молитвенного дома при Реутовской мануфактуре, в котором патриарх совершил молебен, стоит до сих пор – прямо напротив Троицкого храма. </p>
                                    <p>Главный престол в верхнем храме планируется освятить в честь Святой Троицы.</p>
                                </div>
                                <div id="tabs-3">
                                    <h2>Духовенство:</h2>

                                    <b>Настоятель храма – протоиерей Максим Беликов </b>
                                    <p>Помощник благочинного Балашихинского округа</p>
                                    <p>Родился в 1977 году.</p>
                                    <p>Светское образование: Технологический лицей – 1996</p>
                                    <p>Духовное образование: Коломенская духовная семинария – 2000</p>
                                    <p>Хиротония: 13 февраля 2000 года, совершена митрополитом Крутицким и Коломенским Ювеналием</p>
                                    <p>День тезоименитства: 3 февраля</p>
                                    Награды: 2010 – сан протоиерея
                                    2006 – наперсный крест
                                    2003 – камилавка
                                    2000 – набедренник		   
                                    
                                    <br /><br /><br />

                                    <b>священник Евгений Емельянов</b> <a target="_blank" href="http://www.mepar.ru/eparhy/klirics/?priest=4508">Подобнее</a> <a target="_blank" href="http://www.mepar.ru/documents/decrees/2013/09/24/5864/"> Указ о переводе </a> 
                                    
                                                                
                                </div>
                            </div>		
                        </div>
                    </article>
                    <article class="col1 pad_left1">
                      @Html.Partial("Hotlinks")
                    </article>
                </div>
            </section>
        </div>
    </div>