@{
    ViewBag.Title = "Контактная информация";
    ViewBag.PageId = "page5";
}
<!-- content -->
	<div class="body5">
		<div class="body6">
			<div class="main">
				<div class="wrapper">
					<figure class="left"><img src="~/images/letter5.png" alt=""></figure>
					<h2>Мы с радостью ответим на <span>Ваши вопросы</span>!</h2>
					Здесь вы можете задать вопрос о порядке и правилах перед участием в православных таинствах и обрядах, а так же задать интересующий вас вопрос, связанный с религиозной жизнью православного христианина.</div>
			</div>
		</div>
	</div>
	<div class="body7">
		<div class="main">
			<section id="content">
				
				<div class="wrapper">
					<article class="col2">
						<div class="pad1">
							<h2>Контактная форма</h2>
							<form id="ContactForm" method="post">
								<div>
									<div  class="wrapper">
										<strong>Имя:</strong>
										<div class="bg"><input type="text" class="input" ></div>
									</div>
									<div  class="wrapper">
										<strong>Email:</strong>
										<div class="bg"><input type="text" class="input" >	</div>							
									</div>
									<div  class="textarea_box">
										<strong>Вопрос:</strong>
										<div class="bg"><textarea name="textarea" cols="1" rows="1"></textarea>		</div>						
									</div>
									<a href="#" class="button" onClick="document.getElementById('ContactForm').submit()"><span><span>Отправить</span></span></a>
									<a href="#" class="button" onClick="document.getElementById('ContactForm').reset()"><span><span>Очистить</span></span></a>
								</div>
							</form>
						</div>	
						
					</article>
					<article class="col1 pad_left1">
					@Html.Partial("Hotlinks");
					</article>
				</div>
				
			</section>
		</div>
	</div>
<!-- / content -->
