@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
 }

@{
    ViewBag.Title = "Общение с духовенством";
    ViewBag.PageId = "page1";
    ViewBag.ActiveClass = "nav1";
}

<!-- content -->
	<div class="body5">
		<div class="body6">
			<div class="main">
				<div class="wrapper">
					<figure class="left"><img src="~/images/temple.png" alt=""></figure>
				    <h2>Беседа с<span>батюшкой</span>!</h2>
					Живое общение</div>
			</div>
		</div>
	</div>
	<div class="body7">
		<div class="main">
			<section id="content">
				
				<div class="wrapper">
					<article class="col2">
						<div class="pad1">
							<h2>Действительно ли батюшкам всегда некогда?</h2>
						    
						</div>	
						
					</article>
					<article class="col1 pad_left1">
					@Html.Partial("Hotlinks");
					</article>
				</div>
				
			</section>
		</div>
	</div>
<!-- / content -->


