@{
    Layout = "~/Views/Shared/_Layout.cshtml";
 }
@{
    ViewBag.Title = "Соборование";
    ViewBag.PageId = "page1";
    ViewBag.ActiveClass = "nav1";
}
<!-- content -->
	<div class="body5">
		<div class="body6">
			<div class="main">
				<div class="wrapper">
					<figure class="left"><img src="~/images/temple.png" alt=""></figure>
				    <h2>Таинство <span>соборования</span>!</h2>
					«Болен ли кто из вас, пусть призовет пресвитеров Церкви, и пусть помолятся над ним, помазав его елеем во имя Господне. И молитва веры исцелит болящего, и восставит его Господь и если он сделал грехи, простятся ему» (Иак. 5, 14 — 15)</div>
			</div>
		</div>
	</div>
	<div class="body7">
		<div class="main">
			<section id="content">
                <div class="wrapper">
                    <article class="col2">
                        <div class="pad1">
                            <h2>Таинство Елеосвящения (Соборования)</h2>
                            <i>Духовный смысл Таинства Елеосвящения</i>
                            <p>Таинство Елеосвящения, или Соборования, в наших храмах чаще всего совершается Великим постом, но может совершаться и в любой другой день церковного года. Во время Соборования православный христианин семь раз помазуется священниками (в идеале их должно быть семь, но Таинство нередко служится и одним батюшкой) освященным елеем, смешанным с красным вином. При этом многократно читается Евангелие, звучат молитвы о болящем. Все это совершается ради исцеления души и тела христианина. Тем самым в Елеосвящении, при соборной церковной молитве и при помазании человека освященным елеем с вином, на болящего христианина нисходит благодать Божия, способная исцелять как его физические, так и духовные болезни.</p>
                            <p>По слову святого Николая Кавасилы, «Таинство Елея… приемлющим его дарует и исцеление от телесной болезни, и отпущение грехов» . Иногда приходится слышать о том, что в Таинстве Елеосвящения человеку прощаются забытые грехи; однако следует иметь в виду, что это скорее народное представление о смысле Таинства, а не учение, коренящееся в литургической или древней святоотеческой церковной традиции. Хотя здесь следует помнить и о том, что Елеосвящение напрямую связано с Таинством Покаяния (равно как и с Таинством Евхаристии), при этом, безусловно, имея явно покаянный характер, ибо оно ведет человека к исцелению от властвующего над ним рабства греху. Именно в этом смысле Таинство Елеосвящения и приводит человека к отпущению грехов.</p>
                            <p>Таинство Соборования не есть простое благословение перед смертью, как это иногда понималось у нас в Православии и как до недавнего времени это официально считалось в католической церкви (где это Таинство даже называли «последним помазанием», впрочем, так думают многие католики и теперь).</p>
                            <p>Таинство Елеосвящения служит для восстановления, возрождения человека к жизни. Оно призвано исцелять людей и от физического, и от духовного умирания: защищать и от смерти тела, и от смерти души – как обезбоженности человека, как его лишенности действия освящающей Божественной благодати. Это Таинство также призвано освободить человека и от его греховного состояния, тем самым спасая его все от той же смерти, ибо причиной и нашего физического, и нашего духовного умирания являются грехи.</p>
                            <p>В Таинстве Соборования осуществляется совместная священническая молитва, обращенная ко Господу, Богоматери и всем святым. Однако в конечном итоге соборная молитва за христианина не ограничивается заступничеством за него перед Богом лишь семи священников. Священники просят о заступлении за человека перед Христом всю Небесную Церковь – и уже вся Торжествующая Церковь соборно возвышается к Богу в своей молитве за этого христианина, просит Господа о его исцелении.</p>
                            <p>Всякий участвующий в этом Таинстве тяжело больной человек, безусловно, отдает себе отчет в том, что он не наверняка, не обязательно получит в Соборовании физическое исцеление и, быть может, очень скоро все равно умрет. Но и в таком случае, если болящий принял благодать Таинства достойно, с верой и смирением, он обретает, благодаря Елеосвящению, иной особый дар, особую способность: по-новому, стойко и благодарно, воспринять свою смертельную болезнь, истинно по-христиански приблизиться к вхождению в вечную жизнь. И болезнь, и страдания делаются для него тогда прославляющими, преображающими, становятся одним из благодатных условий его Спасения. И происходит это потому, что человек, страдая – причем страдая во Христе, сострадая Господу, сораспинаясь с Ним и тем самым с Ним соединяясь, – подлинно очищается и освящается. Физическая смерть становится для участвующего в Соборовании человека уже не столь страшна: ведь восходя с Господом на Крест, он побеждает гораздо более ужасную, чем смерть физическая - смерть духовную, смерть души, тем самым обретая вечную жизнь во Христе.</p>
                            <p>При совершении Таинства Елеосвящения определяется Божественная воля о человеке: надлежит ли ему исцелиться или умереть. Некоторые опытные священники не рекомендуют по поводу одной и той же болезни дважды соборовать человека: волю Божию он уже однажды испытал, и Господь Свое определение о человеке уже вынес. И дальше человеку уже надлежит эту Божественную волю только принять и, следуя ей, совершать дело своего Спасения.</p>
                            <p>Следует сказать несколько слов о символическом смысле используемых в Таинстве Елеосвящения веществ. О духовной символичности употребляемого в Церкви елея уже подробно говорилось в связи с Таинством Крещения. В Таинстве же Соборования елей – это символ церковной молитвы и одновременно символ изливающейся на больного Божественной милости. Вино и елей также являются и символами исцеляющей больного благодати. Как известно, оба эти вещества в древности использовались в медицине, – считалось, что вино дезинфицирует раны, а елей обладает обезболивающим эффектом (вспомните притчу о милосердном самарянине: на раны пострадавшего от разбойников человека были возлиты именно елей и вино). В Таинстве Соборования также используется всыпанное в сосуд зерно: в которое принято вставлять горящие семь свечей. Эти зерна служат символом новой жизни, причем символом, обладающим двойственным смыслом, двояким духовным прочтением – в зависимости от того, какая судьба постигает болящего человека в дальнейшем. Если он выздоравливает, то зерна для него означают ту прорастающую новую жизнь, к которой он возрождается. Если же он умирает, то эти зерна становятся символом залога будущей новой жизни в его грядущем воскресении из мертвых.</p>
                        </div>
                    </article>
					<article class="col1 pad_left1">
					@Html.Partial("Hotlinks");
					</article>
				</div>
			</section>
		</div>
	</div>
<!-- / content -->

