@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}images/temple.png

@{
    ViewBag.Title = "Библиотека богослужебных текстов";
    ViewBag.PageId = "page1";
    ViewBag.ActiveClass = "nav1";
}

<!-- content -->
<div class="body5">
    <div class="body6">
        <div class="main">
            <div class="wrapper">
                <figure class="left">
                    <img src="~/images/temple.png" alt=""></figure>
                <h2>Библиотека богослужебных текстов</h2>
                 «Сия же есть жизнь вечная, да знают Тебя, единого истинного Бога, и посланного Тобою Иисуса Христа» (Ин. 17:3).
            </div>
        </div>
    </div>
</div>
<div class="body7">
    <div class="main">
        <section id="content">

            <div class="wrapper">
                <article class="col2">
                    <div class="pad1">
                        <ul style="list-style-type: circle">
                            <li>- Молитвослов с переводом на русский язык  <a href="http://perevodmolitv.narod.ru/Perevod-molitv-ver.1.01.pdf">(скачать)</a> </li>
                            <li>- Избранные тексты богослужения Великого поста <a href="http://pravoslavnyi.narod.ru/Triodion/PassionWeek/index.htm">(посмотреть)</a> </li>
                        </ul>
                    </div>
                </article>
                <article class="col1 pad_left1">
                    @Html.Partial("Hotlinks");
                </article>
            </div>

        </section>
    </div>
</div>
<!-- / content -->




