@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}images/temple.png

@{
    ViewBag.Title = "Библиотека богослужебных текстов";
    ViewBag.PageId = "page1";
    ViewBag.ActiveClass = "nav1";
}

<!-- content -->
<div class="body5">
    <div class="body6">
        <div class="main">
            <div class="wrapper">
                <figure class="left">
                    <img src="~/images/temple.png" alt=""></figure>
                <h2>Библиотека богослужебных текстов</h2>
                 «Сия же есть жизнь вечная, да знают Тебя, единого истинного Бога, и посланного Тобою Иисуса Христа» (Ин. 17:3).
            </div>
        </div>
    </div>
</div>
<div class="body7">
    <div class="main">
        <section id="content">

            <div class="wrapper">
                <article class="col2">
                    <div class="pad1">
                        <h2>Молитвы</h2>
                        <ul>
                            <li>Молитва бесчадным <a href="~/Praying/Молитвы/молитва%20бесчадным.doc">(скачать)</a></li>
                            <li>Молитва о потомстве <a href="~/Praying/Молитвы/молитва%20о%20потомстве.doc">(скачать)</a></li>
                            <li>Молитва при зажжении лампады <a href="~/Praying/Молитвы/молитва%20при%20зажжении%20лампады.doc">(скачать)</a></li>
                            <li>Псалтирь <a href="~/Praying/Молитвы/Псалтирь.zip">(скачать)</a></li>
                            <li>Молитвослов с переводом на русский язык <a href="http://perevodmolitv.narod.ru/Perevod-molitv-ver.1.01.pdf">(скачать)</a> </li>
                            <li>Избранные тексты богослужения Великого поста <a href="http://pravoslavnyi.narod.ru/Triodion/PassionWeek/index.htm">(посмотреть)</a> </li>                            
                        </ul>
                        <h2>Службы святым</h2>
                        <ul>
                            <li>ВСЕХ СВЯТЫХ В ЗЕМЛЕ РОССИЙСКОЙ ПРОСИЯВШИХ <a href="~/Praying/Службы%20святым/ВСЕХ%20СВЯТЫХ%20В%20ЗЕМЛЕ%20РОССИЙСКОЙ%20ПРОСИЯВШИХ.doc">(скачать)</a></li>
                            <li>мц.Татиане Гримблит <a href="~/Praying/Службы%20святым/мц.Татиане%20Гримблит.doc">(скачать)</a></li>
                            <li>прав.Василию Павлово-Пасадскому <a href="~/Praying/Службы%20святым/прав.Василию%20Павлово-Пасадскому.doc">(скачать)</a></li>
                            <li>прписп.Севастиану Караганинскому <a href="~/Praying/Службы%20святым/прписп.Севастиану%20Караганинскому.doc">(скачать)</a></li> 
                            <li>свт.Кириллу Туровскому <a href="~/Praying/Службы%20святым/свт.Кириллу%20Туровскому.doc">(скачать)</a></li>
                            <li>свт.Луке Крымскому <a href="~/Praying/Службы%20святым/свт.Луке%20Крымскому.doc">(скачать)</a></li>
                            <li>свщмч.Григорию патриарху Константинопольскому <a href="~/Praying/Службы%20святым/свщмч.Григорию%20патриарху%20Константинопольскому.doc">(скачать)</a></li>
                            <li>свщмч.Константину Богородскому <a href="~/Praying/Службы%20святым/свщмч.Константину%20Богородскому.doc">(скачать)</a></li>
                            <li>свщмч.Роману Московскому <a href="~/Praying/Службы%20святым/свщмч.Роману%20Московскому.doc">(скачать)</a></li>
                            <li>святых Царственных страстотерпец <a href="~/Praying/Службы%20святым/святых%20Царственных%20страстотерпец.doc">(скачать)</a></li>                                                           
                        </ul>
                    </div>
                </article>
                <article class="col1 pad_left1">
                    @Html.Partial("Hotlinks");
                </article>
            </div>

        </section>
    </div>
</div>
<!-- / content -->




