@{
    ViewBag.Title = "Троицкий храм города Реутов";
    ViewBag.PageId = "page1";
    ViewBag.ActiveClass = "nav1";
}
@section featured {
 
<div class="body3">
		<div class="body4">
			<div class="main">
				<!-- <div class="slogan">
					<div id="slider">
						<img src="images/text1.jpg" alt="">	
						<img src="images/text2.jpg" alt="">	
						<img src="images/text3.jpg" alt="">				
					</div>
				</div> -->
			</div>
		</div>
	</div>
  
}
	<div class="body5">
		<div class="body6">
			<div class="main">
				<div class="wrapper">
					<figure class="left"><img src="~/images/letter1.png" alt=""></figure>
					<h2>Приходите в храм<span> мы Вам рады</span>!</h2>
					Здесь будет цитата из св.отцов о посещении храма.
				</div>
			</div>
		</div>
	</div>
	<div class="body7">
		<div class="main">
			<section id="content">
				<div class="wrapper">
				<article class="col1">
					<div class="box1"><div class="box1_bot"><div class="box1_top">
						<div class="pad"><div class="pad1">
							<h2 class="center">Миссия</h2>
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
							<div class="wrapper center">
								<a href="#" class="button"><span><span>Далее</span></span></a>
							</div>
						</div></div>
					</div></div></div>
        		</article>
				<article class="col1 pad_left1">
					<div class="box1"><div class="box1_bot"><div class="box1_top">
						<div class="pad">
								<div class="pad1">
							<h2 class="center">Молитвослов</h2>
							<p>В данном разделе доступны тексты молитв и песнопений, которые используются в богослужебной практике Православной Церкви.</p>
							<div class="wrapper center">
								<a href="#" class="button"><span><span>Далее</span></span></a>
							</div>
						</div></div>
					</div></div></div>
        		</article>
				<article class="col1 pad_left1">
					<div class="box1"><div class="box1_bot"><div class="box1_top">
						<div class="pad">
								<div class="pad1">
							<h2 class="center">Вопросы</h2>
							<p>В этом разделе можно увидеть ответы на вопросы, которые задают прихожане храма, а так же посетители сайта. Так же Вы можете задать свой вопрос.</p>
							<div class="wrapper center">
								<a href="#" class="button"><span><span>Далее</span></span></a>
							</div>
						</div></div>
					</div></div></div>
        		</article>
				</div>
				<div class="wrapper">
					<article class="col2">
						<div class="pad1">
							<h2>Основные направления деятельности</h2>
							<p class="pad_bot1">
                               По слову митрополита Ювеналия нашей целью является не только открытие и реставрация храмов, но и возобновление всех форм социального служения, которые были традиционно присущи Церкви на протяжении всей ее истории.
                               Нынешние задачи, в основном сосредоточены в сфере просвещения и воспитания. Мало крестить людей, надо объяснять им суть нашей веры и учить их тому, как жить по Евангелию.</p>
							<p class="pad_bot2">
									Внимая призыву нашего архипастыря, мы по силам, стараемся работать в различных сферах социального служения:</p>
							<div class="wrapper line1 marg_bot1">
								<ul class="col1 list1">
									<li><a href="#">Воскресная школа</a></li>
									<li><a href="#">Больничные службы</a></li>
									<li><a href="#">Лекторий</a></li>
									<li><a href="#">Богословский кужок</a></li>
									<li><a href="#">Миссионерский молебен</a></li>
								</ul>
								<ul class="list1 pad_left1 left">
									<li><a href="#">Чаепитие с батюшкой</a></li>
									<li><a href="#">Молодежка</a></li>
									<li><a href="#">Приходской листок</a></li>
									<li><a href="#">Дом престарелых</a></li>
									<li><a href="#">Кинозал</a></li>
								</ul>
							</div>
							<a href="#" class="button"><span><span>Далее</span></span></a>
						</div>
					</article>
					<article class="col1 pad_left1">
						@Html.Partial("Hotlinks");
					</article>
				</div>
			</section>
		</div>
	</div>

