@{
    ViewBag.Title = "Таинства и Обряды";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "";
    ViewBag.PageId = "page5";
    ViewBag.ActiveClass = "nav5";
}
<!-- content -->
<div class="body5">
    <div class="body6">
        <div class="main">
            <div class="wrapper">
                <figure class="left">
                    <img src="~/images/temple.png" alt=""></figure>
                <h2>О таинствах и <span>обрядах</span>!</h2>
                Отличие таинств от обрядов.
            </div>
        </div>
    </div>
</div>
<div class="body7">
    <div class="main">
        <section id="content">

            <div class="wrapper">
                <article class="col2">
                    <div class="pad1">
                        <h2>Таинства Православной Церкви</h2>
                        <p>Человек состоит из души и тела, и всё, что происходит с ним духовно, имеет и физическое измерение. Бог обещал всегда посылать нам свою спасительную благодать, и она проявляется физическим образом в особых обрядах Церкви. В таких обрядах, то есть богослужениях, верующий таинственным образом соединяется с Богом, поэтому Церковь использует для их обозначения термин «Таинства». В Таинствах Церкви людям даруется божественная благодать, необходимая для общения со своим Творцом.</p>
                        <p>В таинстве Крещения верующий погружается в воду и восстает к полноте новой жизни в Иисусе Христе. Крестившись, человек восстанавливает свою связь с Богом, которая была утрачена людьми после грехопадения. </p>
                        <p>Во втором таинстве, Миропомазании, новокрещеный христианин получает «печать дара Духа Святого» для возрастания и укрепления в новой жизни во Христе.</p>
                        <p>Однако человек продолжает грешить и после своего вхождения в святую Церковь. Поэтому Богом было установлено таинство Исповеди, чтобы всякий раз, когда христианин впадает в грех, он мог, раскаявшись и покаявшись, получить прощение.</p>
                        <p>В главном таинстве христианской Церкви, Евхаристии, человек достигает внутреннего единства с Богом через Иисуса Христа. Принимая истинные Тело и Кровь Христовы под видом хлеба и вина, человек получает духовную пищу и освящает свое тело.  </p>
                        <p>Когда христианина охватывают телесные недуги, он получает благодать исцеления через таинство Елеосвящения (Соборования), и благодаря этому восстанавливает как телесное, так и духовное здоровье. </p>
                        <p>Христианам, желающим создать семью, Церковь дарует таинство Брака (Венчания), освящая их супружескую жизнь и благословляя на рождение детей. </p>
                        <p>Для тех, кто чувствует призвание проповедовать Слово Божие и быть Его служителем, существует таинство Священства. </p>
                        <p>Все эти Таинства являются божественно установленными и позволяют христианину приобщиться к спасительной благодати Бога. Все они совершаются в Церкви посредством особых обрядов, в которых участвует все сообщество верующих.</p>
                        <h2>Об обрядах</h2>
                        <p>В Православной церкви существуют также особые молитвы и обряды на различные случаи жизни, которые, хотя и не считаются строго таинствами, тем не менее позволяют нам приобщиться к божественной благодати. </p>
                        <p>На праздник Богоявления совершается великое освящение воды, которой затем христиане кропят свои жилища, тем самым ежегодно освящая и посвящая их Богу. Святую воду также освящают и в течение всего года на водосвятных молебнах, где священник просит Господа освятить воду «во здравие души и тела» тех, кто пьет ее. </p>
                        <p>Существуют также обряды благословения урожая, плодов, машин и жилищ и многих других предметов повседневной жизни.</p>
                        <p>Церковь совершает особые молитвы за тех, кто собирается в путешествие или приступает к учёбе.</p>
                        <p>Во время особых заупокойных служб, панихиды и литии, Православная Церковь молится за душу усопшего и вверяет ее Богу. </p>
                        <p>Все эти обряды, молитвы и благословения важны для православного понимания нашего тварного мира. Мир был сотворен Богом для того, чтобы через познание мира человек приходил к познанию и общению с Богом. Церковные обряды открывают нам эту связь творения со своим Творцом.</p>
                    </div>

                </article>
                <article class="col1 pad_left1">
                    @Html.Partial("Hotlinks");
                </article>
            </div>

        </section>
    </div>
</div>
<!-- / content -->

