@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
 }

@{
    ViewBag.Title = "Венчание";
    ViewBag.PageId = "page5";
    ViewBag.ActiveClass = "nav5";
}
<!-- content -->
	<div class="body5">
		<div class="body6">
			<div class="main">
				<div class="wrapper">
					<figure class="left"><img src="~/images/temple.png" alt=""></figure>
				    <h2>Таинство <span>брака</span>!</h2>
					"И сказал: посему оставит человек отца и мать и прилепится к жене своей, и будут два одною плотью,так что они уже не двое, но одна плоть. Итак, что Бог сочетал, того человек да не разлучает"(Матфей 19:5)</div>
			</div>
		</div>
	</div>
	<div class="body7">
		<div class="main">
			<section id="content">
				
				<div class="wrapper">
					<article class="col2">
						<div class="pad1">
                            <h2>О таинстве венчания</h2>
                            <p>Венчание – это таинство Церкви, в котором Бог подает будущим супругам, при обещании ими хранить верность друг другу, благодать чистого единодушия для совместной христианской жизни, рождения и воспитания детей.</p>
                            <p>Брак установлен Самим Богом еще в раю. По сотворении Адама и Евы, “благословил их Бог и сказал им Бог: плодитесь и размножайтесь, и наполняйте землю и обладайте ею” (Книга Бытия, 1, 28). Господь Иисус Христос освятил брак Своим присутствием на браке в Кане Галилейской и подтвердил его Божественное установление, сказав: “оставит человек отца и мать и прилепится к жене своей, и будут два одною плотью, так что они уже не двое, но одна плоть. И так, что Бог сочетал, то человек да не разлучает” (Евангелие от Матфея, 19, 4-6).</p>
                            <p>Зачем же нужно Таинство венчания, если Сам Господь еще в раю благословил супружеский союз на все последующие времена? Конечно, супружеский союз является священным. Древняя мудрость гласит о том, что браки заключаются на небесах. И христианская Церковь изначально не оспаривала действительность и законность супружеского союза. Но, вместе с тем, христианское мировоззрение, наряду с другими сторонами человеческой жизни, требовало особого, христианского, освящения такого важного явления, как супружеский союз. Отношения взаимной христианской любви между членами Церкви, проникли и в супружеский союз, преобразуя его в особый образ – образ отношений Христа и Церкви.</p>
                            <p>Святой апостол Павел говорит: “Тайна сия велика; я говорю по отношению ко Христу и к Церкви” (Послание Апостола Павла к Ефесянам, 5, 31-32). Союз Иисуса Христа с Церковью основывается на любви Христа к Церкви, и на полной преданности Церкви в волю Христа. Отсюда муж обязан самоотверженно любить жену, и жена обязана добровольно, т.е. с любовью, повиноваться мужу. Апостол Павел говорит мужьям: “Мужья, любите своих жен, как и Христос возлюбил Церковь и предал Себя за нее, … любящий свою жену любит самого себя” (Послание Апостола Павла к Ефесянам, 5, 25, 28). А женам говорит: “Жены, повинуйтесь своим мужьям, как Господу, потому что муж есть глава жены, как и Христос глава Церкви, и Он же Спаситель тела; но как Церковь повинуется Христу, так и жены своим мужьям во всем” (Послание Апостола Павла к Ефесянам, 5, 22-24). Таким образом, в Таинстве брака испрашивается и подается особая Божественная благодать – образовать супружеский союз двух верующих во Христа.</p>
                            <p>Это, конечно же, налагает особые требования на христианский брак. Церковь и Христос неразделимы. Поэтому супруги, вступившие в христианский брак, не только обязаны всю жизнь хранить взаимную любовь и уважение, взаимную преданность и верность, что в общем-то требуется от любого супружеского союза, но и рука об руку следовать по пути духовного совершенства, имея конечной целью вечное Царство Христово. Если же Господь благословит их стать родителями, то прямой их обязанностью является воспитание детей в христианской Православной вере. Обо всем этом следует помнить парам, решившим освятить свою супружескую жизнь Таинством брака. К сожалению, в наши дни наблюдается достаточно легкомысленное отношение к этому великому Таинству. Идя под венец, далеко не каждые венчающиеся отдают себе отчет в том, на что же они испрашивают благословение у Бога. Печальные последствия такого легкомысленного отношения не заставляют себя ждать. Брак не является обязательным для всех христиан, но следует помнить, что лица, добровольно остающимися безбрачными, обязаны проводить чистую, непорочную и девственную жизнь.</p>
                            <p>Христианская Православная Церковь предельно жестко регламентирует половую сферу человеческой жизни. Любые половые контакты вне брака расцениваются как любодеяние (блуд) и являются смертным грехом. Следует также знать, что хотя Православная Христианская Церковь в принципе признает законность брачного союза, заключенного согласно юридическим и моральным законам той или иной страны, есть целый ряд ограничений, налагаемых на христианское освящение брака. Например, Православная Церковь отрицательно относится к повторным бракам, бракам лиц, состоящим в близкой степени родства, и лиц, подверженным психическим или умственным заболеваниям. И уж, конечно, церковный брак невозможен в случае, если один из венчающихся является атеистом или представителем нехристианской религии. Поэтому, если Вы решили венчаться, следует выяснить возможность освящения Вашего супружеского союза у священника или церковнослужителей.</p>
                        </div>
                    </article>
					<article class="col1 pad_left1">
					@Html.Partial("Hotlinks");
					</article>
				</div>
				
			</section>
		</div>
	</div>
<!-- / content -->

